


  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body{
    background-color: #F0F0EF;
    font-size: 1.6rem;
  }
   
  :root{
    --main_color: #fff;
    --transition: .4s all ease;
    --btn_color:#BBE1FA;
    --title:'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;

 
  }

  * {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-family: var(--font-para);
    text-decoration: none;
   
  }

  

  .hover:hover{
    transform:translateY(-.5rem);
    box-shadow: 0 1rem 3rem -1rem rgb(219, 219, 219);
   }

  

/* Common code ends */


  /* Header starts */
   .main-tittle h1{
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 1rem;

   }

   .main-tittle p{
    font-size: 2.2rem;
    margin-bottom: 4rem;
   }


   .main-header__banar{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .8) 50%, rgba(0,0,0,0) ), url(./image/banar.avif);
    background-size: cover;
    height: calc(100vh - 40vh);
    background-position: center ;
    background-repeat: no-repeat;
  
   }

   .main-header__banar h3{
    font-size: 4rem;
   }

   .main-header__banar h1{
    font-size: 6rem;
   }

   .main-header__banar___button{
     background-color: var(--btn_color);
     border: none;
     font-size: 2rem;
     padding: .5rem 1.5rem;
     border-radius: .2rem;
     text-transform: uppercase;
     font-weight: 500;
      transition: var(--transition);
   }

  

   /* Header Ends */


    /* Main Starts */

      /* Left Div under main */

    .header-tittle h1{
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.6rem;
      font-family: var(--title);
    }

    .header-tittle p{
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 3.7rem;
      font-family: var(--title);
      color: #1b262c;
      margin-bottom: 3.5rem;
    }

    .header-tittle span{
      color: #6c757d;
      font-weight: 400;
    }

    .left-div{
      background-color:#FFFFFF;
    }

    .left-div figure img{
      transition: var(--transition);

    }

    .left-div article p{
      color: #6c757d;
      line-height: 3rem;
      font-size: 1.9rem;
      text-align: justify;
    }

    .left-div article p span{
      color: #1b262c;
      
    }

    .button-div button{
      background-color: var(--btn_color);
      color: #1b262c;
      border: none;
      padding: .4rem 1.5rem;
      font-size: 1.6rem;
      border-radius: .2rem;
      font-weight: 500;
      font-family: var(--title);
      transition: var(--transition);
    }


    /* Replay div under left div */

    .reply h1, p{
      color: #6c757d;
    }

    .reply h1 span{
      color: black;
      font-weight: 600;
    }

    .hide{
      display: none;
      
    }
    .replyShow{
      display: block;
      transition: var(--transition);
    }



    /* Right Side Div starts */

    .about-me{
      background-image: linear-gradient(to bottom, rgba(0, 0, 07, 0.3) 50%, rgba(208, 206, 207, 0.8) 50%), url(image/girl.avif);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40rem;
      display: flex;
      align-items: end; 
      padding: 0 1rem;  
      
    }

 
   .about-me_detail p{
    color: #000000;
    font-weight: 400;
    /* font-size: 1.8rem; */
    text-align: justify;
    margin-bottom: 0;
   
   }

   .about-me_detail p:first-child{
    font-weight: 600;
    font-size: 2.5rem;
   
  }


/* Popular post starts */

  .title h1{
    text-align: center;
    padding: 1.5rem 0;
    background-color: #D0CECF;
    font-weight: 600;
    font-size: 3rem;
  }

  .post figure img{
    width: 8rem;
    height: 8rem;
  }

  .post-detail p:first-child{
    font-size: 2rem;
    color: #1b262c;
  }

  .post-detail p:last-child{
    font-size: 2.2rem;
  }


/* Advertise starts */

.advertise-title{
  background-color: #D0CECF;
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;
}

.adverties-sub{
  background-color: #FFFFFF;
  height: 12rem;
}

.adverties-image{
  background-color: #F8F9FA;
  margin: 0 1rem;
  padding: .3rem 0;
  width: 100%;
}


/* Tag Starts */

.tag-title{
  background-color: #D0CECF;
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;
}

.tag-items{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 8rem));
  grid-gap:.5rem;
  
  
}

.tag-items a{
  font-size: 1.7rem;
  line-height: 170%;
  font-weight: lighter;
  background: #6c757d;
  text-decoration: none;
  transition: var(--transition);

}

.tag-items a:hover{
  background-color: var(--btn_color)
}

/* Inspiration starts */

.inspiration-title{
  background-color: #D0CECF;
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;
}

.inspiration-image img{
  width: 12rem;
  height: 8rem;
  transition: var(--transition);
}


/* Follow Me starts */

.follow-title{
  background-color: #D0CECF;
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;
}

.social-icon a{
  transition: var(--transition);
}

.social-icon a:hover{
  transform: rotate(360deg);

}

/* Follow Me starts */

.subscribe-title{
  background-color: #D0CECF;
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;
}

.subscribe-detail input[type='button']{
  background-color: var(--btn_color);
  border: none;
  border-radius: .2rem;
  padding: .6rem 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  transition: var(--transition);

}

.subscribe-detail input[type='email']{
  max-width: 80%;
}

.subscribe-detail{
  background-color: #FFFFFF;
}

.subscribe-detail p{
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.subscribe-detail ::placeholder{
  font-size: 1.5rem;
 
}






   /* Media Qua */

   @media screen and (max-width: 768px) {
    html{
      font-size: 55%;
     }
  
   }

   @media screen and (max-width: 576px) {
    html{
      font-size: 50%;
     }
  
   }




      /* Media Qua */